// DIN
@font-face {
    font-family: 'DIN';
    src: url('../assets/typography/FFDinPro/DIN-Medium.woff2') format('woff2'),
        url('../assets/typography/FFDinPro/DIN-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN';
    src: url('../assets/typography/FFDinPro/DINBold.woff2') format('woff2'),
        url('../assets/typography/FFDinPro/DINBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN';
    src: url('../assets/typography/FFDinPro/DIN.woff2') format('woff2'),
        url('../assets/typography/FFDinPro/DIN.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DIN';
    src: url('../assets/typography/FFDinPro/DIN-Black.woff2') format('woff2'),
        url('../assets/typography/FFDinPro/DIN-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

// MONTSERRAT
@font-face {
    font-family: 'Montserrat';
    src: url('../assets/typography/Montserrat/Montserrat-Bold.woff2') format('woff2'),
        url('../assets/typography/Montserrat/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/typography/Montserrat/Montserrat-Light.woff2') format('woff2'),
        url('../assets/typography/Montserrat/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/typography/Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
        url('../assets/typography/Montserrat/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/typography/Montserrat/Montserrat-Regular.woff2') format('woff2'),
        url('../assets/typography/Montserrat/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}