//  colors
$color-text-primary: #212529; // almost black
$color-text-secondary: #FFF; // white

$color-background-primary: #FFF; // white
$color-background-secondary: #F5F5F5; // lightish grey
$color-background-header: #000; // black


//  breakpoints
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;