//  brand color
$whoop-red: #FF0026;

$whoop-black: #000000;

$whoop-white: #fff;

// secondary color
$whoop-blue: #0A79BD;

// neutral colors
$neutral-one: 074987;
$neutral-two: #171E24;
$neutral-three: #7FA0B6;

// semantic colors
$teal: #12E5A3;
$green: #19EC07;
$blue: #4CBBEA;
$yellow: #FDDF00;
$red: #FF0026;








// colors below pulled from website

$color-text-primary: #212529; // almost black
$color-text-secondary: #FFF; // white

$color-background-primary: #FFF; // white
$color-background-secondary: #F5F5F5; // lightish grey
$color-background-header: #000; // black