@use '../../styles/global' as *;
@use '../../styles/typography' as *;
@use '../../styles/variables' as *;

.Exercises {
    // position: absolute;
    // top: 6rem;
    // left: 2rem;
    padding: 0 1rem;

    &__title {
        color: white;
        padding-left: 1rem;
        margin: 1.5rem 0 1rem 0;
        font-size: 0.8125rem;
    }

    &__img {
        width: 100%;
        background-color: rgb(59, 72, 81);
    }
    &__link {
        position: absolute;
        width: 85px;
        height: 20px;
        right: 30px;
        bottom: 18px;
    }
}
