@use '../../styles/global' as *;
@use '../../styles/typography' as *;
@use '../../styles/variables' as *;

.noti-navbar {
    background-color: rgb(59, 72, 81);

    &__top-image {
        width: 100%;
    }

    &__btn-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 1.5rem;
        color: white;
    }
}
