@use "../../styles/variables" as *;

.water {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba($color: $neutral-two, $alpha: 0.5);
  border-radius: 5px;
  border: 1px solid darkgray;
  margin: 0rem 1rem;
  padding: 2rem 0rem;
  position: absolute;
  margin-top: 25rem;
  color: $color-background-primary;

  &__info {
    padding: 0rem 3rem;
    text-align: center;
    font-size: 0.75rem;
  }

  &__button {
    background-color: rgba($color: $neutral-two, $alpha: 0.00001);
    border: none;
    font-family: "proxima-nova";
    color: $whoop-white;
    padding: 0.5rem 3rem;
    border: 1px solid $whoop-white;
    border-radius: 1.25rem;

    &:selected {
      background-color: rgba($color: $blue, $alpha: 0.00001);
    }
  }

  &__metric {
    margin-top: -0.1rem;
  }
}
